<div class="double-bg">
  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-100-0 clearfix" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div
            class="welcome-meter wow hide-on-init"
            animateOnScroll
            animationName="animated fadeInUp"
            style="animation-delay: 0.7s"
          >
            <img
              src="assets/img/about6.png"
              class="img-responsive center-block w-75"
              alt=""
            />
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="who-we-contant">
            <div
              class="dream-dots text-left wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.2s"
            >
              <img src="assets/img/svg/section-icon-1.svg" alt="" />
            </div>
            <h4
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.3s"
            >
              Awesome Designs
            </h4>
            <p
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.4s"
            >
              Our designs make people want to stay and interact with your site,
              leading to more revenue.<br />There is a science behind great
              website design and that is UX/UI design:
            </p>
            <p
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.5s"
            >
              <strong>UX:</strong> User Experience involves a person’s emotions
              and attitudes about a particular product, system or service. A
              great UX design helps customers and clients form an emotional
              connection with your business and want to experience more which
              will promote the purchase products or services.
            </p>
            <p
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.6s"
            >
              <strong>UI:</strong> User Interface is all about making your site
              and system easy to use and interact with. The simpler it is for a
              customer and client to navigate, buy, get information and learn
              about your services, the more revenue your website can generate
              for your business. You will love what we design for your beautiful
              website.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-100 clearfix">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div class="who-we-contant">
            <div
              class="dream-dots text-left wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.2s"
            >
              <img src="assets/img/svg/section-icon-2.svg" alt="" />
            </div>
            <h4
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.3s"
            >
              Exceptional Builds
            </h4>
            <p
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.4s"
            >
              Our builds are completed with speed in mind. From the beginning of
              the build, we ensure that we are building a fast site. The faster
              your site is, the more people will visit, they will browse more
              pages, which leads to more revenue for your business.<br />We also
              make sure everything works seamlessly.
            </p>
            <p
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.5s"
            >
              <strong>Need an e-commerce site:</strong> We can make sure
              everything from inventory tracking to order processing is running
              perfectly.
            </p>
            <p
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.6s"
            >
              <strong>Running a restaurant:</strong> We will make sure your
              order processing is working great.
            </p>
            <p
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.7s"
            >
              <strong>Own a service company:</strong> We can help you make more
              appointments online, so your staff has to take fewer scheduling
              calls. Just about anything you need, we can build it for you.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div
            class="welcome-meter wow hide-on-init"
            animateOnScroll
            animationName="animated fadeInUp"
            style="animation-delay: 0.7s"
          >
            <img src="assets/img/about7.png" class="center-block w-75" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-0-100 clearfix">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div
            class="welcome-meter wow hide-on-init"
            animateOnScroll
            animationName="animated fadeInUp"
            style="animation-delay: 0.7s"
          >
            <img
              src="assets/img/about8.png"
              class="img-responsive center-block w-75"
              alt=""
            />
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="who-we-contant">
            <div
              class="dream-dots text-left wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.2s"
            >
              <img src="assets/img/svg/section-icon-1.svg" alt="" />
            </div>
            <h4
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.3s"
            >
              Expert Maintenance
            </h4>
            <p
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.4s"
            >
              Regular website maintenance is important and You want a fast and
              responsive team to help with any issues that might arise.
            </p>
            <p
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.5s"
            >
              The last thing you want is your site to be down for a day or so,
              while you are waiting on someone to fix a problem.<br />We will
              continue our great customer service you have experienced from the
              design and build of your site and continue to help maintain your
              site optimally.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->
</div>
