<section
  class="welcome_area clearfix auto-init ico fullwidth"
  data-options='{direction: "normal"}'
  id="home"
>
  <!-- Hero Content -->
  <div class="hero-content pizza">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <!-- Welcome Content -->
        <div class="col-12 col-lg-5 col-md-12">
          <div class="welcome-content">
            <h1
              class="big b-text bold wow"
              animateOnScroll
              animationName="fadeInUp"
              style="animation-delay: 0.2s"
            >
              We Build Websites That Deliver Real Business Results
            </h1>
            <p
              class="wow"
              animateOnScroll
              animationName="fadeInUp"
              style="animation-delay: 0.3s"
            >
              Our mission is to enable high-growth companies to realize the true
              potential of their most important digital asset
            </p>
            <div
              class="dream-btn-group wow"
              animateOnScroll
              animationName="fadeInUp"
              style="animation-delay: 0.4s"
            >
              <a href="#contact" class="btn dream-btn">Contact Us</a>
            </div>
          </div>
        </div>
        <!-- Welcome Video Area -->
        <div class="col-12 col-lg-7 col-md-12">
          <div
            class="main-ilustration main-ilustration-10 wow"
            animateOnScroll
            animationName="fadeInUp"
            style="animation-delay: 0.5s"
            data-wow-delay="0.5s"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
