<!-- ##### FAQ & Timeline Area Start ##### -->
<div class="faq-timeline-area section-padding-100" id="capabilities">
  <div class="container">
    <div class="section-heading text-center">
      <!-- Dream Dots -->
      <div
        class="dream-dots justify-content-center wow hide-on-init"
        animateOnScroll
        animationName="animated fadeInUp"
        style="animation-delay: 0.2s"
      >
        <img src="assets/img/svg/section-icon-5.svg" alt="" />
      </div>
      <h2
        class="wow hide-on-init"
        animateOnScroll
        animationName="animated fadeInUp"
        style="animation-delay: 0.3s"
      >
        Our capabilities
      </h2>
      <p
        class="wow hide-on-init"
        animateOnScroll
        animationName="animated fadeInUp"
        style="animation-delay: 0.4s"
      >
        Whether you’re a start-up on the verge of something great or a Fortune
        company looking for a refresh, our full-service capabilities will allow
        you to reimagine the way you do digital.
      </p>
    </div>
    <div class="row">
      <div
        class="
          col-12 col-lg-6
          offset-lg-0
          col-md-8
          offset-md-2
          col-sm-10
          offset-sm-1
        "
      >
        <img
          src="assets/img/faq.png"
          alt=""
          class="center-block img-responsive"
        />
      </div>
      <div class="col-12 col-lg-6 col-md-12">
        <div class="dream-faq-area mt-s">
          <dl style="margin-bottom: 0">
            <!-- Single FAQ Area -->
            <dt
              class="v2 wave wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.2s"
              (click)="onClickAccordion($event)"
            >
              Get a beautiful website that wins customers
            </dt>
            <dd
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.2s"
            >
              <p>
                Elevate your business with a trusted website that your customers
                will love. Our award-winning website designers will represent
                your brand in the best possible way. Your website will load
                extremely fast and look great on all devices.
              </p>
            </dd>
            <!-- Single FAQ Area -->
            <dt
              class="v2 wave wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.3s"
              (click)="onClickAccordion($event)"
            >
              Extend your Website’s Lifespan
            </dt>
            <dd
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.2s; display: none"
            >
              <p>
                We can help your website keep up with the ever-changing and
                evolving industry. SIS Techonologies is one of the leading
                website maintenance agencies. Our web maintenance packages cover
                everything that your website may need – from simple content
                updates to extensive design updates.
              </p>
            </dd>
            <!-- Single FAQ Area -->
            <dt
              class="v2 wave wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.4s"
              (click)="onClickAccordion($event)"
            >
              Creative Web Design Services
            </dt>
            <dd
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.2s; display: none"
            >
              <p>
                Our web design services will greatly enhance your business’s
                presence on the Internet. Our brandtenders mix a potent
                combination of brand strategy with a generous splash of creative
                juices and blend in the latest trends in Website UX and UI
                design and programming as a chaser.
              </p>
            </dd>
            <!-- Single FAQ Area -->
            <dt
              class="v2 wave wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.5s"
              (click)="onClickAccordion($event)"
            >
              Our Approach to Digital Marketing
            </dt>
            <dd
              class="wow hide-on-init"
              animateOnScroll
              animationName="animated fadeInUp"
              style="animation-delay: 0.2s; display: none"
            >
              <p>
                Our digital marketing services are driven not only by passion
                but also a driving desire to deliver exceptional sales
                conversions and ROI for our clients. We invest a substantial
                amount of time understanding our clients’ benchmarks of success
                and KPI’s and craft smart digital strategies to gain maximum
                market share in the digital universe.
              </p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### FAQ & Timeline Area End ##### -->
