<section
  class="spread-map section-padding-100"
  style="background-image: url('assets/img/bg-img/bread-bg.png')"
  id="team"
>
  <div class="container">
    <div class="section-heading text-center">
      <!-- Dream Dots -->
      <div
        class="dream-dots justify-content-center wow hide-on-init"
        animateOnScroll
        animationName="animated fadeInUp"
        style="animation-delay: 0.2s"
      >
        <img src="assets/img/svg/section-icon-3.svg" alt="" />
      </div>
      <h2
        class="wow hide-on-init"
        animateOnScroll
        animationName="animated fadeInUp"
        style="animation-delay: 0.3s"
      >
        We're here to help
      </h2>
      <p
        class="wow hide-on-init"
        animateOnScroll
        animationName="animated fadeInUp"
        style="animation-delay: 0.4s"
      >
        We feel confident that our team will exceed your expectations in both
        short and long-term efforts.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-xs-12">
        <div class="map-container">
          <img src="assets/img/bg-img/map.svg" alt="map" style="width: 100%" />

          <div class="indicator indicator-west">
            <a
              target="_blank"
              href="https://maps.google.com/maps?ll=9.964611,-84.039073&amp;z=16&amp;t=m&amp;hl=en-GB&amp;gl=US&amp;mapclient=apiv3&amp;cid=13488631571154085119"
            >
              <span class="indicator-item"></span>
              <span class="indicator-content">
                <span class="indicator-text">
                  <span class="indicator-inner"
                    >Address: <br />
                    Avenida 67 entre calle 91 y 93. Costa Rica, San José
                  </span>
                  <span class="indicator-inner"
                    >Phone: <br />
                    (506) 4035-7082
                  </span>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
